
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.select-priority{
  position: absolute;
  z-index: 2;
  left: 0vw;
  top: 0vw;
  height: 70%;
  width:20%;
  /*height: 100%;*/
  /*width:100%;*/
}
.intro-font-color{
    color: #851B1E;
}

.font-color-white{
    color: white;
    font-weight: bold;
}

.bg-color{
    background-color: #F8AB9D;
}

.intro{
    background-image:url('/static/images/bg_intro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.result-default-font{
    font-size: 5vw;
}

.result-description-box{
    width: 80%;
    background-color: white;
    border-radius: 10vw;
    padding: 5vw;
    margin: 10vw;
}

.bold-font{
    font-weight: bold;
}

md-list-item > button {
    width:100%;
}

md-dialog.md-default-theme, md-dialog{
    opacity: 100%;
    z-index: 10;
}
