/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    font-family: 'Nanum Gothic', serif !important;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}*/

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.select-priority{
  position: absolute;
  z-index: 2;
  left: 0vw;
  top: 0vw;
  height: 100%;
  width:100%;
}

.select-check{
  position: absolute;
  z-index: 2;
  left: 0vw;
  top: 0vw;
  height: 70%;
  width: 100%;
  padding-top: 2vw;
}
.intro-font-color{
    color: #851B1E;
}

.font-color-white{
    color: white !important;
    font-weight: bold !important;
}
.intro-font-margin{
    margin-top: 0vw;
    margin-bottom: 0vw;
    padding: 0vw;
}

.intro-button{
    background-colur: #FBDEE4;
    color:black;
}

.next-button{
    background-color: #F36E74 !important;
    color: #F9D5DD !important;
    width: 100% !important;
    border-radius: 5vw;
    font-weight: bold;
    font-size: 5vw;
}

.subheader{
    background: #F8AB9D !important;
    color: black !important;
}
.lyric-button{
    background-color: #F36E74 !important;
    color: white !important;
}

.exit-button{
    background-color: #F36E74 !important;
    color: #F9D5DD !important;
    width: 60% !important;
    border-radius: 5vw;
    font-weight: bold;
    font-size: 5vw;
}

.button-size{
    border-radius: 5vw !important;
    width: 60% !important;
    font-weight: bold !important;
    font-size: 5vw !important;
}

.bg-color{
    background-color: #F8AB9D;
}

.result-div{
    background-image:url('/static/images/bg_result.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro{
    background-color: #F36E74;
    /*background-image:url('/static/images/bg_intro.png');
    background-repeat: no-repeat;
    background-size: cover;*/
}

.result-default-font{
    font-size: 5vw;
}

.result-description-box{
    width: 80%;
    background-color: white;
    border-radius: 10vw;
    padding: 5vw;
    margin: 10vw;
}

.bold-font{
    font-weight: bold;
}
.md-select-value .md-select-icon{
    color : #EE5762 !important;
    font-size: 10vw;
}

.md-select-value :first-child{
    font-size: 5vw;
    font-weight: bold;
}

.item-padding{
    padding: 2vw 3vw;
}


md-list-item > button {
    width:100%;
}

md-dialog.md-default-theme, md-dialog{
    opacity: 100%;
    z-index: 10;
}
