<!-- <div class="intro" flex layout="column">
    <div flex="80" layout="column" layout-align="center center">
        <div layout-padding flex="30">
        </div>
        <div layout-padding align="center">
            <h3 >쏠라티 첫 정규앨범 발매 기념<br>단독 콘서트</h3>
            <h2 >와줘서 고마워 </h2>
        </div>
        <div layout="column" layout-align="top center" flex>
            <img width="30%" src="static/images/logo_solati.png">
        </div>
    </div>
    <div flex="20" layout="column" layout-align="end center" style="margin-bottom:10vw;">
        <md-button  class="md-raised md-headline md-primary md-hue-1 button-size" ng-click="nextPage()">공연 입장하기</md-button>

    </div>
</div> -->


<div layout-padding align="center">
    <h3 class="font-color-white intro-font-margin" >쏠라티 첫 정규앨범 발매 기념<br>단독 콘서트</h3>
    <h2 class="font-color-white intro-font-margin" >와줘서 고마워 </h2>
</div>
<div layout="column" layout-align="top center" flex>
    <img width="30%" src="static/images/logo_solati.png">
</div>
<div layout="column" layout-align="end center" style="margin-bottom:10vw;">
    <md-button  class="md-raised md-headline md-primary md-hue-1 button-size" ng-click="nextPage()">공연 입장하기</md-button>
</div>
