<div layout="column" flex class="bg-personal-data">
  <div layout-padding layout="column" layout-align="center center">
      <img width="90%" src="static/images/logo_hello.png">
  </div>
  <div layout="row">
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex >
          <md-input-container>
              <label class="bold-font ">나이<br> Age</label>
              <md-select ng-model="age">
                  <md-option ng-repeat="n in [].constructor(60) track by $index" value="{{$index+15}}">{{$index+15}}</md-option>
              </md-select>
          </md-input-container>
      </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
  <div layout="row">
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex>
        <md-input-container>
            <label class="bold-font">성별<br> Gender</label>
            <md-select ng-model="gender">
                <md-option value="female">여(female)</md-option>
                <md-option value="male">남(male)</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>

    <div layout="row">
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex>
        <md-input-container>
            <label class="bold-font">언어<br> Language</label>
            <md-select ng-model="language">
                <md-option value="ko">한국어</md-option>
                <md-option value="en">English</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div flex="10">
            &nbsp;
        </div>
    </div>
  <div layout="row">
        <div flex="10">
            &nbsp;
        </div>
        <div layout="column" layout-align="center center" flex>
            <!-- <md-button class="md-raised md-primary next-button" ng-click="enter()">다음</md-button> -->
            <md-button class="md-raised md-headline md-primary md-hue-1 button-size" ng-click="enter()">공연 입장하기</md-button>

        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
</div>


<!-- <div layout="column" flex class="bg-color">
  <div flex layout-padding layout="column" layout-align="center center">
      <img width="200px" src="static/images/logo_hello.png">
  </div>
  <div layout="row" flex="15" layout-padding>
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex >
          <md-input-container>
              <label class="bold-font">나이</label>
              <md-select ng-model="age">
                  <md-option ng-repeat="n in [].constructor(60) track by $index" value="{{$index+15}}">{{$index+15}}</md-option>
              </md-select>
          </md-input-container>
      </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
  <div layout="row" flex="15" layout-padding>
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex>
        <md-input-container>
            <label class="bold-font">성별</label>
            <md-select ng-model="gender">
                <md-option value="female">여</md-option>
                <md-option value="male">남</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
  <div layout="row" flex="20" layout-padding>
        <div flex="10">
            &nbsp;
        </div>
        <div layout="column" layout-align="center center" flex>
            <md-button class="md-raised md-primary next-button" ng-click="enter()">다음</md-button>
        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
</div> -->
