
    <div layout="column" flex class="bg-color">
        <md-subheader class="bg-color" ng-bind-html="'prioritise' | translate" style="padding:15px;"></md-subheader>

        <md-content class="bg-color">
            <div layout="column" flex class="bg-color" layout-padding >
                <md-grid-list
                  md-cols="3"
                  md-row-height-gt-md="2:2" md-row-height="2:2"
                  md-gutter="12px" md-gutter-gt-sm="8px" >
                  <md-grid-tile ng-repeat="item in songs"  ng-click="selectSongs(item,$event)"
                                style="background-image:url('static/images/album_{{item.album_id}}{{item.check?'':'_gray'}}.png');
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position-x: 1vw;" >
                      <img max-height="100%"  width="50%" ng-show="item.priorityCheck" class="select-priority" ng-src="static/images/priority_{{item.priority}}.png">
                      <h4 align="center" flex style="color:{{item.check ? '#ED5961' : '#595959'}}"  ng-bind-html="item['title_'+language]"></h4>
                  </md-grid-tile>

              </md-grid-list>
            </div>
        </md-content>
  </div>
