<div class="intro" flex layout="column">
    <div flex="80" layout="column" layout-align="center center">
        <div layout-padding flex="30">
        </div>
        <div layout-padding align="center">
            <h2 class="font-color-white intro-font-margin">와줘서고마워 X 쏠라티</h2>
            <h1 class="font-color-white intro-font-margin">들어줘서 고마워 </h1>
        </div>
        <div layout="column" layout-align="top center" flex>
            <img width="30%" src="static/images/logo_solati.png">
            <!-- &nbsp; -->
        </div>
    </div>
    <div flex="20" layout="column" layout-align="end center" style="margin-bottom:10vw;">
        <md-button  class="md-raised md-headline md-primary md-hue-1 button-size" ng-click="nextPage()">공연 입장하기</md-button>
    </div>
</div>


<!-- <div class="intro" flex layout="column" ng-click="nextPage()">
    <div flex="80" layout="column" layout-align="center center">
        <div layout-padding flex="20">
        </div>
        <div layout-padding align="center">
            <h3 class="intro-font-color">쏠라티 첫 정규앨범 발매 기념<br>단독 콘서트</h3>
            <h2 class="intro-font-color">[solatic_와줘서고마워]</h2>
        </div>
        <div flex>
            &nbsp;
        </div>
    </div>
    <div flex="20" layout="column" layout-align="center center">
        <img width="50%" src="static/images/logo_solati.png">
    </div>
</div> -->
