<div layout="column" flex class="bg-color">
  <div flex="40" layout-padding layout="column" layout-align="center center">
      <img width="90%" src="static/images/logo_hello.png">
  </div>
  <div layout="row" flex="20" >
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex layout-padding>
          <md-input-container>
              <label>나이</label>
              <md-select ng-model="age">
                  <md-option ng-repeat="n in [].constructor(60) track by $index" value="{{$index+15}}">{{$index+15}}</md-option>
              </md-select>
          </md-input-container>
      </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
  <div layout="row" flex="20" layout-padding>
      <div flex="10">
          &nbsp;
      </div>
      <div layout="column" flex>
        <md-input-container>
            <label>성별</label>
            <md-select ng-model="gender">
                <md-option value="female">여</md-option>
                <md-option value="male">남</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
  <div layout="row" flex="10" layout-padding>
        <div flex="10">
            &nbsp;
        </div>
        <div layout="column" flex>
            <md-button class="md-raised md-primary font-color-white md-headline" ng-click="enter()">공연 입장하기</md-button>
        </div>
        <div flex="10">
            &nbsp;
        </div>
  </div>
</div>
